@import "~antd/dist/antd.css";

.App {
  /* text-align: center; */
}

.main-div {
  margin-bottom: 3em;
}

.logo {
  font-family: "Nunito", sans-serif;
  font-weight: 800;
  letter-spacing: 0.1em;
  color: #ffa154 !important;
  /* color: #d49696; */
  text-decoration: none;
  font-size: 1.5em;
  float: left;
  margin-left: 1em;
}

/* FORMS TITLE  */
.form-title {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.1em;
}

/* USER PROFILE PAGE */
.profile-picture {
  border-radius: 50%;
  float: left;
  /* display: block;
  margin-left: auto;
  margin-right: auto; */
  margin-bottom: 1.5em;
  margin-left: 1em;
}

.profile-picture-edit {
  border-radius: 50%;
  float: left;
  /* display: block;
  margin-left: auto;
  margin-right: auto; */
  margin-bottom: 1.5em;
  margin-left: 1em;
}

.page-title {
  text-align: center;
  display: inline-block;
}

/* CUSTOM UPLOAD */
/*hide <input> styling to follow Ant Button */
input[type="file"] {
  display: none !important;
}

/* BACK TO TOP */
.ant-back-top {
  bottom: 15px;
  right: 4px;
}
.ant-back-top-inner {
  height: 25px;
  width: 25px;
  line-height: 25px;
  border-radius: 25px;
  background-color: #c3c3c3;
  color: #fff;
  text-align: center;
  font-size: 16px;
}

/* HOME PAGE */
.ant-carousel .slick-slide {
  text-align: center;
  height: 420px;
  line-height: 420px;
  background: #364d79;
  overflow: hidden;
}

.ant-carousel .slick-slide h3 {
  color: #fff;
}

/* .home-button-container {
  display: block;
  margin-left: auto;
  margin-right: auto;
} */

/* LOADING SPIN */
.loading-div {
  margin: 3em 0;
}

/* SIDE MENU  */
.sidemenu-category {
  text-transform: uppercase;
  font-weight: 600;
}
